/* ------------------------GLOBAL------------------------*/
:root {
    --dark-blue: #363f5f; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 93.75%;
}

body {
    background: #e2e4e7;
    font-family: 'Raleway', sans-serif;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.container {
    width: min(90vw, 800px);
    margin: auto;
}

/* ------------------------TITLES------------------------*/
h2 {
    margin-top: 3.2rem;    
    margin-bottom: 0.8rem;
    color: var(--dark-blue);
    font-weight: 400;
}

/* --------------------LINKS&BUTTONS---------------------*/
a {
    color: var(--dark-blue);
    text-decoration: none;
}

a:hover {
    color: rgb(11, 74, 247);
}

button {
    width: 100%;
    height: 50px;

    border: none;
    border-radius: 0.25rem;

    color: white;
    background: royalblue;

    padding: 0;

    cursor: pointer;
}

button:hover {
    background-color: rgb(21, 21, 253);
}

.button.new {
    display: inline-block;
    margin-bottom: .8rem;
}

.button.cancel {
    color: orangered;
    
    border: 2px orangered solid;
    border-radius: 0.25rem;

    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: .6;
}

.button.cancel:hover {
    opacity: 1;
}



/* ------------------------HEADER------------------------*/
header {
    background-image: linear-gradient(to right, rgb(27, 59, 245), rgb(168, 167, 253));
    padding: 2rem 0 10rem;
    text-align: center;
}

#logo {
    color: #fff;
    font-weight: 100;
}



/* ------------------------MAIN------------------------*/
/* ------------------------BALANCE------------------------*/
#balance {
    margin-top: -8rem;
}

#balance h2 {
    color: #fff;
    margin-top: 0;

}

/* ------------------------CARDS------------------------*/

.card {
    background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(214, 211, 211));
    padding: 1.2rem 2rem;
    border-radius: .25rem;

    margin-bottom: 2rem;
}

.card h3 {
    font-weight: normal;
    font-size: 1rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card p {
    font-size: 2rem;
    line-height: 3rem;

    margin-top: 1rem;
}

.card.total {
    background-image: linear-gradient(to bottom, rgba(168, 167, 253, 0.4),rgb(27, 59, 245));
    color: #000;
    
}

.card p.profits {
    color: #fff;
    font-weight: bold;
}


/* ------------------------TRANSACTIONS------------------------*/
/* ------------------------TABLE------------------------*/
#transactions {
    display: block;
    overflow-x: auto;
}

#data-table {
    width: 100%;
    border-spacing: 0 0.5rem;
    color: #969cb3;
}

table thead tr th:first-child,
table tbody tr td:first-child  {
    border-radius: 0.25rem 0 0 0.25rem;
}

table thead tr th:last-child,
table tbody tr td:last-child {
    border-radius: 0 0.25rem 0.25rem 0;    
}

table th {
    background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(221, 219, 219));

    font-weight: normal;
    padding: 1rem 2rem;

    text-align: left;    
}

table tbody tr {
    opacity: 0.7;
}

table tbody tr:hover {
    opacity: 1;
}

table tbody td {
    background: #fff;

    padding: 1rem 2rem;    
}

td.description {
    color: #363f5f;
}

td.income {
    color: #12a454;
}

td.expanse {
    color: #e92929;
}

/* -------------------------MODAL------------------------*/
.modal-overlay {
    width: 100%;
    height: 100%;

    background-color: rgba( 0, 0, 0, .7);

    position: fixed;
    top: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    
    opacity: 0;
    visibility: hidden;

    z-index: 999;
}

.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}

.modal {
    background: #f0f2f5;
    padding: 2.4rem;
    
    position: relative;

    z-index: 1;
}

/* -------------------------FORM-------------------------*/
.form {
    max-width: 500px;
}

.form h2 {
    margin-top: 0;
}

#form form input {
    border: none;
    border-radius: 0.2rem;

    padding: .8rem;

    width: 100%;
}

.input-group {
    margin-top: .8rem;
}

.input-group small {
    opacity: .4;
}

.input-group.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-group.actions .button,
.input-group.actions button {
    width: 40%;
}


/* ------------------------FOOTER------------------------*/
footer {
    text-align: center;
    padding: 4rem 0 2rem;
    color: var(--dark-blue);

    opacity: 0.6;
}


/* ----------------------RESPONSIVE----------------------*/
@media (min-width: 800px) {
    html {
        font-size: 87.5%;
    }

    #balance {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }
}